/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
*{
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: -moz-linear-gradient(
			30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
			30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
			30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(
			30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
	float: left;
	padding: 0 30px;
}
/* the styles for the section */

/* the styles for nav bar */

/* the styles for nav bar */

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	display: block;
	width: 160px;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
main {
	clear: left;
}
article img{
	float: right;
	border: 1px solid black;
	margin: .5em 0 1em 1em;

}
article h2{
	color: #800000;
	padding-top: 0px;
	font-size: 130%;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}
article {
	padding: .5em 0;
	border-bottom: 2px solid #800000;
	padding-top: 0;
}
main h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: 25em;
	margin: 0;
	border-bottom: 2px solid #800000;

}
main article {
	padding-top: .5em;
	padding-bottom: .5em;

}
main section {
	width: 525px;
	float: right;
	padding-bottom: 20px;
}
main blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

main p {
	padding-bottom: .5em;
}
main {
	clear: left;
	padding: 0 30px;
}

.title_page {
	font-size: 175%;
	color: #800000;
}

.celebration{
	font-size: 130%;
	font-style: italic;
}
.guest_speakers{
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
.mission {
	padding-top: .5em;
	padding-bottom: .25em;
	color: #800000;
	font-size: 130%;
}

.ticket_packages {
	padding-top: .5em;
	padding-bottom: .25em;
	color: #800000;
	font-size: 130%;
}
section ul {
	list-style-type: circle;
}
.chua:hover {
font-style: italic;
}

.sorkin:hover {
	font-style: italic;
}
.toobin:hover {
	font-style: italic;
}

.shadow {
	text-shadow: 2px 2px #800000;
}

.div {
	text-align:center;
}

body {
	width: 800px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	border: solid 3px #931420;
}

main h1 {
	font-size: 150%;
	padding: .3em 0;
}

body {
	background-color: #fffded;
}
main ul {
	padding: 0 0 .25em 1.25em;
}
main li {
	padding-bottom: .35em;
}
main img{
	padding-bottom: 1em;
}

/* styles for aside */
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside img {
	padding-bottom: 1em;
}
aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px;
}
/* the styles for the footer */
footer p {
	text-align: center;
	color: white;
	padding-bottom: 1em;
}
.site-footer {
	background: #931420;
	clear: both;
}

/* the styles for the footer */
footer p {
	text-align: center;
	padding-top: 1em;

}